.text-custom-1 {
  font-family: "Montserrat", sans-serif;
}

.image-1 {
  width: 100%;
  border-radius: 25%;
}

@media only screen and (max-width: 978px) {
  .custom-margin {
  margin-inline: 0 !important;
}
}
