/* Homepage Style */
.section-1 {
  position: relative;
  display: flex;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.subsection {
  width: 50%;
  margin: 10% 1%;
}

.subsection-f {
  width: 100%;
  margin: 0% 1%;
}

.sect-title {
  font-weight: 600;
}

.register-button {
  border: 2px solid #4b0082;
  color: #4b0082;
  font-weight: 600;
  font-size: 1rem;
  padding: 2%;
  border-radius: 15px;
}

.register-button:hover {
  border: 2px solid #ffa500;
  color: #ffa500;
}

.register-button:focus {
  border: 2px solid #ffa500;
  color: #fff;
  background: #ffa500;
}

.image-intro {
  width: 50%
}

.image-center {
  width: 50%;
  padding: 7%
}

.hr {
  margin: 3% 10%;
  height: 1px;
  color: #000;
  background-color: #000;
  border: 1px solid #000;
}

.subject-button {
  border: 2px solid #ffa500;
  color: #ffa500;
  font-weight: 600;
  font-size: 1rem;
  padding: 2%;
  margin-inline: 2%;
  border-radius: 15px;
}

.subject-button:hover {
  border: 2px solid #ffa500;
  color: #fff;
  background: #ffa500;
}

.subject-button:focus {
  border: 2px solid #ffa500;
  color: #fff;
  background: #ffa500;
}

.forum-button {
  border: none;
  background: none;
  color: #4b0082;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 2%;
  border-radius: 15px;
}

.forum-button:hover {
  border: 2px solid #4b0082;
  background: #4b0082;
  color: #fff;
}

.forum-button:focus {
  border: 2px solid #ffa500;
  color: #fff;
  background: #ffa500;
}

.browser {
  height: 40px;
  font-size: 1.2rem;
  width: 50%;
  outline-color: #ffa500;
}

.browse-button {
  border: none;
  background: none;
  color: #ffa500;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 2%;
  border-radius: 15px;
}

.browse-button:hover {
  background: #4b008200;
  color: #ffa500;
}

.browse-button:focus {
  border: 2px solid #ffa500;
  color: #fff;
  background: #ffa500;
}

footer {
  background-color: indigo;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center !important;
  font-size: 1.2rem;
  /* position: fixed; */
  bottom: 0;
  /* z-index: 20; */
  /* border-bottom: 2px solid #4b0082; */
}

.footer-brand {
  color: #fff;
  align-items: center;
  font-weight: 700;
  /* margin-left: 50px; */
  cursor: pointer;
  text-decoration: none;
  font-size: 1.75rem;
  flex-grow: 1;
}

@media screen and (max-width: 960px) {
  .section-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  .subsection {
    width: 100%;
    margin: 10% 1%;
  }

  .image-intro {
    width: 100%
  }
}